<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="false">
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/" (click)="drawer.close()">Home</a>
            <a mat-list-item routerLink="/login" (click)="drawer.close()">Login</a>
            <a mat-list-item routerLink="/kanban" (click)="drawer.close()">Kanban</a>
            <a mat-list-item routerLink="/clientes" (click)="drawer.close()">SSR</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button"
                    aria-label="Abrir Menu Lateral"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async">

                <mat-icon aria-label="Ícone de Menu Lateral">menu</mat-icon>
            </button>
            <span class="logo" routerLink="/">🔥 Angular Firestarter</span>

            <span class="fill-space"></span>
            <div *ngIf="!(isHandset$ | async)">
                <a mat-button routerLink="/kanban">📒 Kanban</a>
                <a mat-button routerLink="/clientes">💡 SSR</a>
                <a mat-button routerLink="/login">🔑 Login</a>
            </div>

            <button mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>help</mat-icon>
                    <span>Ajuda</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>settings</mat-icon>
                    <span>Configurações</span>
                </button>
            </mat-menu>

        </mat-toolbar>
        <ng-content>

        </ng-content>
    </mat-sidenav-content>

</mat-sidenav-container>